@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;700&family=Poppins:wght@400;500;600&display=swap');

:root{
    --negro: #131313;
    --hueso: #FFFEFA;
}

* {
    font-family: Poppins,sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.eslogan-text{
    display: flex;
    width: 100%;
    color: #ffff;
    background-color: #000;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    font-size: 16px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 1px;
    padding: 24px 60px;
    word-wrap: break-word;

}

.navbar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;
    height: 96px;
    background-color: #ffff;
    border-bottom: 1px;
}

.navbar #logo {
    width: 160px;
}

.navbar-nav .nav-link{
    padding-left: 0 !important;
    text-align: center;
    border-bottom: 2px solid #ffffff00;
}

.navbar-nav .nav-link:hover {
    border-bottom: 2px solid #000;
}

.img-background {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    z-index: 0;
}
.contenido {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/games-bg.jpg");
}

.login-box {
    width: 425px;
    height: 470px;
    padding: 20px 30px;
    background-color: #1c1c1c;
    border-radius: 30px;
    border: 2px solid #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title{
    color: white;
    font-size: 42px;
    font-family: "Montserrat Alternates", serif;
    font-weight: 700;
    font-style: normal;
    word-wrap: break-word;
    text-align: center;
    width: 346px;
}

.login-title span{
    font-family: "Montserrat Alternates", serif;
    font-weight: 100;
}

.login-box input {
    width: 346px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

.login-box button[type="submit"]{
    width: 346px;
    height: 50px;
    background-color: #000;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;

    &:hover {
        background-color: #1c1c1c;
    }
}

.login-box #registrar{
    display: flex;
    justify-content: center;
    width: 346px;
    height: 45px;
    margin-left: 10px;
    text-decoration: none;
    color: whitesmoke;

    &:hover{
        font-weight: bold;
        font-size: 18px;
        transition: all 0.5s ease-out;
    }
}

.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;

}

.footer-info{
    width: 470px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer ul li{
    padding: 10px;
}

.footer .redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-left: 150px;
}

.footer .redes-sociales i {
    font-size: 20px;
}

.footer .copyrights{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding-left: 30px;
}


@media (width <= 991px) {
    .navbar-nav .nav-link{
        color: white;

        &:hover{
            color: white;
            border-bottom: 2px solid white;
        }
    }
}

body {
    overlay: var(--negro);
}


.columnas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px;
    margin: 0 auto;
    background-color: var(--negro);
    color: var(--blanco);
    margin: 0;
    font-family: serif;
}


.col {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    flex: 1;
    min-width: 280px;
    max-width: 400px; 
    gap: 20px;
}


.col img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .columnas {
        flex-direction: column;
        align-items: center;
    }

    .col {
        max-width: 90%; 
    }

    .col img {
        max-width: 100%; 
    }
}



.h1-claro {
    color: var(--hueso);
    font-size: 65px;
}

.h1-oscuro {
    color: var(--negro);
    font-size: 65px;
}


.features {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    background-color: var(--negro);
    gap: 20px;
    margin: 0 auto;
    padding: 40px;
    color: var(--hueso);
    font-family: serif;
}

.feature {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.feature img {
    width: 50px;
    height: auto;
}

.text {
    flex: 1;

    & h3{
        font-size: 1.5rem;
        margin-top: 15px;
    }
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        max-width: 90%;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

#formulario {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--hueso);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}


.btn-primary{
    margin-top: 30px;
}

.bi-x-circle{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

#filter{
    padding-top: 40px;
    text-align: center;
    background-color: var(--negro);
}

#filter input{
    padding: 8px 30px;
    margin: 10px;
    margin-bottom: 65px;
    width: 500px;
    font-size: 18px;
    border-radius: 60px;
    border: 2px var(--hueso);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(54, 54, 54);
    font-family: Poppins,sans-serif;
}

.container{
    width: 60%;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--negro);
}

#genero-juegos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    color: var(--hueso);
    font-family: 'Value Serif Pro', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: var(--negro);
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(54, 54, 54);
}

.game-card img {
    width: 100%;
    border-radius: 10px;
}
